* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

/* Variables */
:root {
  --bg: #0f172a ;
  --bg-card: #10203b6b;
  --primary: #38bdf8;
  --text: #e5e7eb;
  --muted: #94a3b8;
  --bg-button: #2563eb;
  --bangboo-border: #2ea738;
}

/* Body */
body {
  background-color: var(--bg);
  color: var(--text);
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  height: 100vh;    
  width: 100vw;     
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: #020617;
  border-bottom: 1px solid #1e293b;
  width: 100%;
}

.logo img {
  height: 70px;
}

/* Navegación */
.links ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.links li {
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0.4rem 0.7rem;
  border-radius: 8px;
  transition: background 0.2s, transform 0.2s;
}

.links li:hover {
  background: var(--bg-card);
  transform: scale(1.1);
}


html {
    scroll-behavior: smooth;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    font-family: inherit;
    cursor: pointer;
    border: none;
    background: none;
}

input,
textarea,
select {
    font-family: inherit;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

h1, h2, h3, h4, h5, h6 {

    font-weight: 600;
    line-height: 1.3;
}
h3 {
    font-size: 2rem;
}

ul, ol {
    list-style: none;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;

}

main {
  flex: 1;                 
  padding: 1rem 3rem;
  background: #1e293b;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;        
}

.card {
  background: var(--bg-card);
  border-radius: 16px;
  padding: 1rem;
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.card li.image-container {
  width: 300px;
  flex: 1;
}

.card li figure img {
  width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 12px;
}

.carrusel{
  width: 95%;

  justify-content: center;
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: nowrap;
  margin-top: auto;
  
}

.carruselbtn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;

  cursor: pointer;
  border-radius: 50%;

  color: #fff;               
  background: var(--bg-button);       

  transition: background 0.2s ease, transform 0.2s ease, opacity 0.2s ease;
}

/* tamaño de la svg */
.carruselbtn svg {
  width: 24px;
  height: 24px;
  stroke-width: 2;
}

/* hover */
.carruselbtn:hover {
  background: #374151;
  transform: scale(1.1);
}

.btndisabled {
  background: gray;
  cursor: not-allowed;
}

.bangboos {
  display: flex;
  gap: 1rem;
  max-width: 90%;
  padding: 0;
  transition: transform 0.4s ease;
}


.bangboo {
  width: 160px;              
  height: 200px;
  padding: 1rem;
  background: var(--bg-card);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  text-align: center;
}


.bangboo img {
  flex: 1;
  width: 100%;
  object-fit: contain;
}


.bangboo-description {
  display: -webkit-box;
  -webkit-line-clamp: 2;      
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bangboo .rank-container {
  position: relative;
  top: -5px;
  left: -5px;
  height: 0;
}

.image-container {
  width: 100%;
  height: 300px;
}

.top-card {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  width: 100%;
  min-height: 50px;
}

.top-card h3 {
  margin-left: 1rem;
  text-align: center;

  white-space: nowrap;       
  overflow: hidden;          
  text-overflow: ellipsis;   
}
figure.rank-container {
  margin-right: 1rem;
  width: 100%;
  
}

 .card li .rank-container .rank-icon {
  width: 60px;
  height: 60px;
}

.rank-container .rank-icon {
  width: 34px;
  height: 34px;
}

.selected {
  outline: 4px solid var(--bangboo-border);
}

.bangboo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background: #020617;
    gap: 10rem;
}

footer #total-bangboos {
    color: var(--muted);
    font-size: 1rem;
    font-weight: bold;
}

/** loader */
.loader {
    display: block;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lds-roller,
.lds-roller div,
.lds-roller div:after {
  box-sizing: border-box;
}
.lds-roller {
  display: inline-block;
  position: absolute;
  width: 80px;
  height: 80px;
  align-self: center;
  justify-self: center;

}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7.2px;
  height: 7.2px;
  border-radius: 50%;
  background: currentColor;
  margin: -3.6px 0 0 -3.6px;

}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 62.62742px;
  left: 62.62742px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 67.71281px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 70.90963px;
  left: 48.28221px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 70.90963px;
  left: 31.71779px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 67.71281px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 62.62742px;
  left: 17.37258px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12.28719px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}